<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="styles/aboutUs.css">
    <script src="Scripts/aboutUs.js" defer></script>
</head>

<body>
    <div class="navbar">
        <a href="#">Experiences</a>
        <a href="#">Projects</a>
        <a href="#">Certifications</a>
    </div>

    <!-- Header Section -->
    <div class=" = titleHeader">
        <h1><a href="#bodyParagraph" class="titleButton">About Us</a></h1>
    </div>


    <!-- About Us Content Container -->

    <div class="aboutUsInfo">
        <!-- Description of Spark Code Academy -->
        <h class="bodyHeader">Who Are We?</h>
        <div class="aboutUsInner">
            <p id="bodyParagraph" class="bodyParagraph">
                Hey there! We're the team behind Spark Code Academy, a group of students from Lakeview
                Technology Academy with over three years of programming experience. We've honed our skills in various
                programming languages used daily in the tech world. Our mission is to inspire younger students to dive into
                coding, boosting their problem-solving skills, tech savvy, and understanding of the digital landscape. We've
                poured hundreds of hours into sharpening our expertise as programmers. Bring your students to our meetings
                to kickstart their coding journey!
            </p>

            <!-- About Us Image -->
            <img src="image/aboutUsPortrait.jpeg" alt="Portrait of the Founders of Spark Code Academy">
        </div>

    </div>

    <div class="aboutUsInfo">
        <!-- Description of Spark Code Academy -->
        <h class="bodyHeader">What Do We Do?</h>
        <div class="aboutUsInner">
            <p id="bodyParagraph" class="bodyParagraph">
                Programming might seem tough, but we’re here to make it easy with hands-on,
                in-person learning. By connecting with our community, you’ll quickly pick up
                the basics of Python. Not only do we make it simple, but it’s actually super useful!
                These real-world skills form the foundation of every program you use—including this
                website!
            </p>

            <!-- About Us Image -->
            <img src="image/aboutUsPortrait.jpeg" alt="Portrait of the Founders of Spark Code Academy">
        </div>
    </div>

    <div class="aboutUsInfo">
        <!-- Description of Spark Code Academy -->
        <h class="bodyHeader">Want an example of what we can do?</h>
        <div class="aboutUsInner">
            <p id="bodyParagraph" class="bodyParagraph">
                Sure we may say we can do alot but we aren't just all talk.
                Want proof? We have programmed this whole website from scratch.
            </p>
            <!-- About Us Image -->
            <img src="image/aboutUsPortrait.jpeg" alt="Portrait of the Founders of Spark Code Academy">
        </div>
    </div>


    <!-- Contact Information Banner -->
    <div class="bottomHeader">
        <p class="ContactInfoBanner">
            Have any questions about our program or us?
            <a class="EmailButton" href="#">Email Us!</a>
        </p>
    </div>

</body>

</html>
