<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bit Buddies Homepage</title>
    <link rel="stylesheet" href="styles/main.css"/>
</head>
<body>

    <header>
        <h1>Bit Buddies</h1>
    </header>
    <nav>
        <div>
            <a href="">About us</a>
            <a href="">Compiler</a>
            <a href="">Projects</a>
            <a href="">Contact</a>
            <input type="search" />
        </div>
    </nav>

    <main>
        <p>lorem lusfign4 h3inguewf1onigu ewf</p>
        <div>
            <img src="image/Mcqeen.jpg"/>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Yo Mama</p>
    </footer>
</body>
</html>
