<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bit Buddies Homepage</title>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>

    <header>
        <h1 id="titleHeader">Bit Buddies</h1>

        <div id="loginComponents">
            <button id="signUp">Sign Up</button>
            <img id="profilePic" alt="profilePicture" />
        </div>

    </header>
    <nav>
        <div>
            <a href="">About us</a>
            <a href="">Compiler</a>
            <a href="">Projects</a>
            <a href="">Contact</a>
            <input type="search" />
        </div>
    </nav>

    <main>
        <div>
            <img id="centerLogo" src="image/Mcqeen.jpg" />
        </div>
    </main>
</body>
</html>