<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bit Buddies Homepage</title>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>

    <header>
        <h1 id="titleHeader">Bit Buddies</h1>
        <img class="logo" src="image/logoBitBuddiesUpscaled.png">

        <div id="loginComponents">
            <button id="signUp">Sign Up</button>
            <!--<img id="profilePic" alt="profilePicture" src="image/profileIcon.png"/>-->
        </div>

    </header>
    <nav>
        <div>
            <a href="aboutUs.html">About us</a>
            <a href="compiler.html">Compiler</a>
            <a href="viewSavedCode.html">Code</a>
            <a href="">Contact</a>
            <input type="search" />
        </div>
    </nav>

    <main>

        <div>
            <img src="image/logoBitBuddiesUpscaled.png" id="centerLogo"/>
        </div>

        <div id="welcomeBox">
            Welcome To Bit Buddies!
        </div>

        <div id="additionalElements">
            <div class="col-6" id="leftColumn">
                <!--Upcoming Events Thing-->
                <div id="upcomingEvents">
                    <label for="eventsUl">Upcoming Events</label>
                    <ul id="eventsUl">
                        <li>June 5 - All day: No Harborside Classes for LakeView</li>
                        <li>June 5 - 6:00 pm - 7:30 pm: LakeView Graduation</li>
                        <li>June 6 - All day: No Harborside Classes for LakeView</li>
                        <li>June 9 - All day: No Harborside Classes for LakeView</li>
                        <li>June 10 - All day: No Harborside Classes for LakeView</li>
                        <li>June 11 - All day: No Harborside Classes for LakeView</li>
                        <li>June 12 - All day: End of Quarter 4/Semester 2</li>
                        <li>June 12 - All day: No Harborside Classes for LakeView</li>
                    </ul>
                </div>
            </div>
            <div class="col-6" id="rightColumn">
                <img src="image/codingHelp.jpg"/>
            </div>
        </div>
        

    </main>

</body>
</html>